h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-align: center;
}